$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@mixin mobile {
  @media (max-width: 575px) {
    @content;
  }
}
@mixin all-mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: $lg) and (max-width: $xl) {
    @content;
  }
}

@mixin desktop{
  @media (min-width: 1201px){
    @content;
  }
}