$fontName: 'Quicksand';
$fontPath:'~/static/fonts/';
@font-face {
  font-family: $fontName;
  src: url($fontPath+'Quicksand-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $fontName;
  src: url($fontPath+'Quicksand-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}