$fontSizes: (
  "h4": 22px,
  "h5": 16px,
  "h6": 14px,
  "h7": 12px,
  "h8": 10px,
);
$fontWeights: (400, 700);

@each $weight in $fontWeights {
  %mp-weight-#{$weight} {
    font-weight: $weight;
  }
}

@each $key, $size in $fontSizes {
  .mp-#{$key} {
    font-size: $size;
  }
  @each $weight in $fontWeights {
    .mp-#{$key}-#{$weight} {
      @extend .mp-#{$key};
      @extend %mp-weight-#{$weight};
    }
  }
}